<form class="flexcol" autocomplete="off">
  <div id="movement-types" class="movement-type-list">
    {{#each config as |cfg type|}}
      <fieldset class="movement-type-group" data-type="{{type}}">
        <legend>
          <h3>{{type}}</h3>
        </legend>

        <div class="form-group">
          <label>Layout</label>
          <select name="config.{{type}}.layout" class="layout-select">
            <option value="single" {{#ifEquals cfg.layout "single"}}selected{{/ifEquals}}>Single Image</option>
            <option value="axis" {{#ifEquals cfg.layout "axis"}}selected{{/ifEquals}}>X/Y Axis</option>
            <option value="cardinal" {{#ifEquals cfg.layout "cardinal"}}selected{{/ifEquals}}>Cardinal (N/E/S/W)</option>
          </select>
        </div>

        <div class="direction-images">
          {{#each cfg.images as |img dir|}}
          <div class="form-group image-picker" data-dir="{{dir}}">
            <label>{{toUpperCase dir}}</label>
            <div class="form-fields">
              <input type="text" name="config.{{@../key}}.images.{{dir}}" value="{{img}}" data-dtype="String">
              <button type="button" class="file-picker" data-type="imagevideo" data-target="config.{{@../key}}.images.{{dir}}">
                <i class="fas fa-file-import fa-fw"></i>
              </button>
            </div>
            {{#if img}}
            <img src="{{img}}" class="preview-img" style="max-height: 64px;"/>
            {{/if}}
          </div>
          {{/each}}
        </div>

        <button type="button" class="remove-type" style="margin-top: 10px;">Remove</button>
      </fieldset>
    {{/each}}
  </div>

  <div class="form-group">
    <label>Add Movement Type</label>
    <div class="form-fields">
      <select id="new-type-name">
        {{#each movementActions}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <button type="button" id="add-type"><i class="fas fa-plus"></i></button>
    </div>
  </div>

  <footer class="sheet-footer">
    <button type="submit" class="dialog-button default">Save</button>
  </footer>
</form>
