<form autocomplete="off">
  <nav class="sheet-tabs tabs" data-group="main">
    <a class="item" data-tab="rules">Image Rules</a>
    <a class="item" data-tab="defaults">Global Default</a>
  </nav>

  <div class="tab" data-group="main" data-tab="rules">
    <div id="rules-container">
      {{#each rules as |rule index|}}
        <fieldset class="rule-block" data-index="{{index}}">
          <legend>Rule {{inc index}}</legend>
          <div class="form-group">
            <label>Movement Type</label>
            <select name="config.rules.{{index}}.conditions.movement">
              {{#each ../movementActions as |move|}}
                <option value="{{move}}" {{#if (eq move rule.conditions.movement)}}selected{{/if}}>{{move}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>Status</label>
            <input type="text" name="config.rules.{{index}}.conditions.status" value="{{rule.conditions.status}}" />
          </div>
          <div class="form-group">
            <label>HP Below</label>
            <input type="number" name="config.rules.{{index}}.conditions.hpBelow" value="{{rule.conditions.hpBelow}}" />
          </div>
          <div class="form-group">
            <label>In Combat</label>
            <input type="checkbox" name="config.rules.{{index}}.conditions.inCombat" {{checked rule.conditions.inCombat}} />
          </div>
          <div class="form-group">
            <label>Direction Mode</label>
            <select name="config.rules.{{index}}.directionMode">
              <option value="single" {{#if (eq rule.directionMode "single")}}selected{{/if}}>Single</option>
              <option value="xy" {{#if (eq rule.directionMode "xy")}}selected{{/if}}>X/Y</option>
              <option value="nesw" {{#if (eq rule.directionMode "nesw")}}selected{{/if}}>N/E/S/W</option>
            </select>
          </div>

          {{#if (eq rule.directionMode "single")}}
            <div class="form-group image-entry">
              <label>Image</label>
              <div class="image-preview">
                <img src="{{rule.images.All}}" height="50" />
                <input type="text" name="config.rules.{{index}}.images.All" value="{{rule.images.All}}" data-dtype="String"/>
                <button type="button" class="file-picker" data-type="image" data-target="config.rules.{{index}}.images.All">
                  <i class="fas fa-file-import"></i>
                </button>
              </div>
            </div>
          {{/if}}

          {{#if (eq rule.directionMode "xy")}}
            {{#each (array "X" "Y") as |dir|}}
              <div class="form-group image-entry">
                <label>{{dir}}</label>
                <div class="image-preview">
                  <img src="{{lookup rule.images dir}}" height="50" />
                  <input type="text" name="config.rules.{{index}}.images.{{dir}}" value="{{lookup rule.images dir}}" data-dtype="String"/>
                  <button type="button" class="file-picker" data-type="image" data-target="config.rules.{{index}}.images.{{dir}}">
                    <i class="fas fa-file-import"></i>
                  </button>
                </div>
              </div>
            {{/each}}
          {{/if}}

          {{#if (eq rule.directionMode "nesw")}}
            {{#each (array "N" "E" "S" "W") as |dir|}}
              <div class="form-group image-entry">
                <label>{{dir}}</label>
                <div class="image-preview">
                  <img src="{{lookup rule.images dir}}" height="50" />
                  <input type="text" name="config.rules.{{index}}.images.{{dir}}" value="{{lookup rule.images dir}}" data-dtype="String"/>
                  <button type="button" class="file-picker" data-type="image" data-target="config.rules.{{index}}.images.{{dir}}">
                    <i class="fas fa-file-import"></i>
                  </button>
                </div>
              </div>
            {{/each}}
          {{/if}}

          <button type="button" class="delete-rule" data-index="{{index}}">Delete Rule</button>
        </fieldset>
      {{/each}}
    </div>
    <button type="button" id="add-rule"><i class="fas fa-plus"></i> Add Rule</button>
  </div>

  <div class="tab" data-group="main" data-tab="defaults">
    <fieldset>
      <legend>Global Default</legend>
      <div class="form-group">
        <label>Direction Mode</label>
        <select name="config.defaults.directionMode">
          <option value="single" {{#if (eq defaults.directionMode "single")}}selected{{/if}}>Single</option>
          <option value="xy" {{#if (eq defaults.directionMode "xy")}}selected{{/if}}>X/Y</option>
          <option value="nesw" {{#if (eq defaults.directionMode "nesw")}}selected{{/if}}>N/E/S/W</option>
        </select>
      </div>

      {{#if (eq defaults.directionMode "single")}}
        <div class="form-group image-entry">
          <label>Image</label>
          <div class="image-preview">
            <img src="{{defaults.images.All}}" height="50" />
            <input type="text" name="config.defaults.images.All" value="{{defaults.images.All}}" data-dtype="String"/>
            <button type="button" class="file-picker" data-type="image" data-target="config.defaults.images.All">
              <i class="fas fa-file-import"></i>
            </button>
          </div>
        </div>
      {{/if}}

      {{#if (eq defaults.directionMode "xy")}}
        {{#each (array "X" "Y") as |dir|}}
          <div class="form-group image-entry">
            <label>{{dir}}</label>
            <div class="image-preview">
              <img src="{{lookup defaults.images dir}}" height="50" />
              <input type="text" name="config.defaults.images.{{dir}}" value="{{lookup defaults.images dir}}" data-dtype="String"/>
              <button type="button" class="file-picker" data-type="image" data-target="config.defaults.images.{{dir}}">
                <i class="fas fa-file-import"></i>
              </button>
            </div>
          </div>
        {{/each}}
      {{/if}}

      {{#if (eq defaults.directionMode "nesw")}}
        {{#each (array "N" "E" "S" "W") as |dir|}}
          <div class="form-group image-entry">
            <label>{{dir}}</label>
            <div class="image-preview">
              <img src="{{lookup defaults.images dir}}" height="50" />
              <input type="text" name="config.defaults.images.{{dir}}" value="{{lookup defaults.images dir}}" data-dtype="String"/>
              <button type="button" class="file-picker" data-type="image" data-target="config.defaults.images.{{dir}}">
                <i class="fas fa-file-import"></i>
              </button>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </fieldset>
  </div>

  <footer class="sheet-footer">
    <button type="submit"><i class="fas fa-save"></i> Save</button>
  </footer>
</form>
