.direction-config-form {
  color: white;
}

.direction-config-form .tabs .item {
  color: #ccc;
}

.rule-block {
  border: 1px solid #555;
  border-radius: 8px;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #222;
  position: relative;
}

.rule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rule-header input {
  flex: 1;
  font-size: 1.1em;
  padding: 0.2em;
  background: #333;
  color: white;
  border: none;
  border-radius: 4px;
}

.rule-header .delete-rule {
  background: none;
  border: none;
  color: #ccc;
  font-size: 1.2em;
}

.rule-grid {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.rule-column {
  flex: 1;
}

.form-group label {
  color: #aaa;
}

.directional-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.directional-inputs.nesw {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.directional-inputs.single,
.directional-inputs.xy {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.direction-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.direction-field label {
  color: #ccc;
  margin-bottom: 0.2em;
}

.input-group {
  display: flex;
  gap: 0.25em;
  width: 100%;
}

.input-group input {
  flex: 1;
  background-color: #444;
  color: white;
  border: none;
  padding: 0.2em;
}

.input-group .file-picker {
  background: none;
  border: none;
  color: #ccc;
}
